* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
  line-height: 1.5;
}

main {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col {
  width: 60%;
}

.row {
  display: flex;
  border: 1px solid rgb(206, 198, 198);
  box-shadow: 0px 5px 5px rgb(211, 205, 205);
  margin-bottom: 20px;
  min-height: 160px;
  min-width: 600px;
}

.time {
  min-width: 160px;
  display: flex;
  flex-direction: column;
}

.year {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.month-date {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date,
.month {
  color: white;
}

.course {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.heading {
  height: 25%;
}

.heading a {
  text-decoration: none;
  color: black;
}

.heading h2 {
  margin: 0;
  font-weight: 100;
  width: fit-content;
}

.heading h2:hover {
  text-decoration: underline;
}

.detail {
  display: flex;
  flex-direction: column;
}

.schedule {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(145, 141, 141, 0.534);
}

.day,
.class-time,
.location {
  color: gray;
}

.register {
  padding-top: 5px;
}

.register a {
  text-decoration: none;
  color: gray;
}

.address {
  width: 35%;
  min-width: 420px;
  max-height: 415px;
  display: flex;
  flex-direction: column;
}

.address p {
  margin-top: 0;
}

.map {
  height: 100%;
  width: 100%;
}

iframe {
  width: 100%;
  height: 100%;
}

.red .year {
  background-color: #ef5321;
}

.red .month-date {
  background-color: #fe6d3f;
}

.blue .year {
  background-color: #4b96f2;
}

.blue .month-date {
  background-color: #2682f2;
}

.yellow .year {
  background-color: #fbbc05;
}

.yellow .month-date {
  background-color: #f89707;
}

.bar {
  display: flex;
  padding: 20px 0;
}

.home, .icon {
  margin-right: 15px;
}

.bar a {
  text-decoration: none;
  color: black;
}
